@import "bootstrap";
@import "_variables";
@import "_buttons";

* {
  transition: 0.26s ease;
}

body {
  margin: 0 0 0 0;
  font-family: "Open Sans";
  font-weight: 400;
  color: #999;
  max-width: 1000;
}

.contain {
  margin: 0 0 0 0;
  font-family: "Open Sans";
  font-weight: 400;
  color: #999;
  overflow: hidden;
  max-width: 1000px;
  position: relative;
  width: 95%;
  left: 2.5%;
}

//mixins
@mixin flow() {
    display: inline-block;
    letter-spacing: 0;
    margin:0; padding:0;
}

@mixin auto() {
    margin-left: auto;
    margin-right: auto;
}
@mixin zeroOut() {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right:0;
}

a {
    color: #FFF;
}
a:visited {
    color: #FFF;
}
a:hover {
    color: $gray-300;
}
a:focus {
    color: $gray-600;
}
a:active {
    color: $gray-900;
}

//helper classes
.remove-all-margin-padding{
    margin:0 ! important;
    padding:0 ! important;
}

.row {
  margin: 0;
  padding: 0;
}

// new styles
header {
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 64px;
  width: 100%;
  left: 0;
  position: relative;
  max-width: 1000px;

    .logo {
      width: 80px;
      height: 80px;
      position: relative;
      left: 15%;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(../images/logo.png);
    }

    .student {
      padding-top: 0;
      padding-left: 30px;
      text-align: right;
      display: inline-block;
      text-transform: uppercase;
      position: relative;

    }

}

main {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;

  section.leftColumn {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 10%;

    .hex-container {
      width: 100%;
      height: auto;
      font-weight: 300;
      font-size: 16px;
      text-align: center;
      margin-bottom: 15px;

    }

    .hex-color-square {
      width: 100%;
      height: 100px;
      margin-bottom: 4px;
      border-radius: 4px;
    }

    .hex-container-one .hex-color-square {
      background-color: #05C3DE;
    }
    .hex-container-two .hex-color-square {
      background-color: #086EA1;
    }
    .hex-container-three .hex-color-square {
      background-color: #054C70;
    }


  }

  section.rightColumn {
    width: 85%;
    left: 5%;
    position: relative;
    border-top: solid 6px #02b3e4;

    .titleImage {
      width: 100%;
      height: 300px;
      overflow: hidden;
      border-radius: 0 0 4px 4px;

       img {
         width: 100%;
       }

    }


    .featured-work-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 50px;
      padding-bottom: 30px;

      h2 {
        display: block;
        clear: both;
        width: 100%;
        text-align: left;
        padding-bottom: 20px;
      }

      .featured-work {
        width: 30%;
        clear: both;
        height: auto;
        border: solid 1px #EBEBEB;
        border-radius: 4px;
        overflow: hidden;
        text-decoration: none;
        padding-bottom: 30px;

        &:hover {
          box-shadow: 0px 0px 22px -1px rgba(0,0,0,0.1);
        }

        .featured-work-image {
          background-color: lightblue;
          width: 100%;
          height: auto;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .featured-work-title {
          text-transform: uppercase;
          font-family: "Open Sans";
          font-weight: 300;
          color: #999;
          padding-top: 19px;
          margin-bottom: 0;
          font-size: 1.5em;
        }

        .featured-work-url {
          font-family: "Open Sans";
          font-weight: 300;
          color: #999;
          margin-top: -5px;
          font-size: 0.5em;

        }
      }

    }
  }
}

footer {
  width: 100%;
  height: 100px;
  background-color: #999;
  display: flex;
  justify-content: center;

  .footer-content {
    color: white;
    width: 100%;
    max-width: 1000px;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;
  }
}

// Extra Small Screens (mobile)
@media only screen and (max-width: 600px) {

  header {
    justify-content: flex-start;
    height: 110px;
    padding-top: 20px;

    .logo {
      width: 60px;
      left: 5%;
      padding: 0;
      margin-right: 15px;
      margin: 0;
      }
    .student {
      width: 75%;

      h1 {
        font-size: 1.5em;
        text-align: left;
      }

      h4 {
        font-size: 1em;
        text-align: left;
      }
    }
  }

  main section.rightColumn {
    width: 90%;
    left: 5%;
    right: 5%;

    .titleImage {
      height: auto;

      img {
        width: 100%;
      }
    }

    .featured-work-container {

      .featured-work {
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 20px;
      }

      h2 {
        font-size: 1.5em;
        margin-top: 0;
      }

      .featured-work-image img {
        height: 100px;
      }

      .featured-work-title h3 {
        font-size: 1em;
      }

      .featured-work .featured-work-url {
        font-size: 0.5em;
      }
    }
  }

  main section.leftColumn {
    position: relative;
    width: 90%;
    left: 5%;
    right: 5%;
    height: auto;
    margin-bottom: 23px;
  }
}

//Medium Screens (tablets)
@media only screen and (min-width: 601px) and (max-width: 992px) {

  .featured-work-title h3 {
    font-size: 1em;
  }

  .featured-work-url {
    font-size: 0.5em;
  }

}

//Large Screens (large tablets and small desktops)
@media only screen and (min-width: 993px) and (max-width: 1200px) {

  .contain {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
  }
}

//Extra Large Screens (large desktops)
@media only screen and (min-width: 1200px) {

  .contain {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
  }
}
